body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    background-color: lightgrey;
}

header{
    background-color: white;
}
header h1{
    display: inline-block;
    font-size: 2em;
    margin-top: 10px; 

}

header img{
    height: 100%;
    vertical-align: middle;
}

main{
    background-color: white;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
}

button{
    border-radius: 5px; 
    padding: 5px;
    
}

#task{
background-color: dodgerblue;
border-color: dodgerblue;
color: white;
}

#section{
border-color: white;
}

