body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    background-color: rgba(173, 173, 173, 0.199);
    height: 100%;
}

header{
    background-color: white;
}
header h1{
    display: inline-block;
    font-size: 2em;
    margin-top: 10px; 

}

header img{
    height: 100%;
    vertical-align: middle;
}

.section-button{
    background-color: white;
    width: 50%;
    margin: 30px auto 5px;
    padding: 25px;
}

.section-list{
    background-color: white;
    width: 50%;
    margin:auto;
    margin-bottom: 5px;
    padding: 25px;
    
}

button{
    display: inline-block;
    border-radius: 5px; 
    padding: 5px 15px;
}

#task{
background-color: dodgerblue;
border-color: dodgerblue;
color: white;
}

#section{
border-color: grey;
color: grey;
background-color: white;
}

li{
    padding-left: 0px;
}
.bold{
    font-weight: bold;
    color: black;
    list-style-type: disclosure-open;
    padding-top: 10px;
}

.date{
    color: black;
    font-weight: normal;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}